<!-- By modularizing the page, we separate the posts archive from the post form. -->
<!-- Eventually we will replace the delete button with "read more..." and move delete function to post-form page. -->

<%- include('partials/header') %>

    <!-- For-loop to display blog posts dynamically -->

    <div class="blog-posts">
        <div class="section-title">
            <h2>All Posts</h2>
        </div>

        <!-- If-else statement determines if there are any posts to display. If not, a message is displayed instead -->

        <% if (locals.posts && locals.posts.length > 0 && locals.texts && locals.texts.length > 0) { %>

            <% for(i=0; i < posts.length; i++) { %>
                <li>
                    <h2>
                        <%= posts[i] %>
                    </h2>
                    <h4>
                        <%= timestamps[i] %>
                    </h4>
                    <p>
                        <%= texts[i] %>
                    </p>
                    <div class="post-controls">
                        <form action="/edit" method="GET">
                            <input type="hidden" name="postIndex" value="<%= i %>">
                            <input type="submit" value="Edit Post" id="editPost<%= i %>">
                        </form>
                        <form action="/delete" method="POST">
                            <input type="hidden" name="postIndex" value="<%= i %>">
                            <input type="submit" value="Delete Post" id="deletePost<%= i %>">
                        </form>
                    </div>
                </li>
            <% }; %>

        <% } else { %>

        <div>
            <h2>No Posts Available</h2>
            <p>It seems there are no posts yet. Why not create one?</p>
        </div>

        <% }; %>
        
    </div>

    <%- include('partials/footer') %>